<div class="group-header">
    <h1>{{ group.label }}</h1>

    {# https://getbootstrap.com/docs/5.3/components/navs-tabs/#tabs #}
    <ul class="nav {{ overview is defined ? 'nav-tabs' }}">
    {% for overview in group.overviews %}
        {% set is_active = overview == loop.parent.overview|default(null) %}
        <li class="nav-item">
            <a class="nav-link {{ is_active ? 'active' }}" {{ is_active ? 'aria-current="page"' }} href="{{ path('process_overview_show', {group: group.id, overview: overview.id}) }}">{{ overview.label }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
