<div class="group-header">
    <h1 class="text-2xl font-bold text-white mb-6">{{ group.label }}</h1>

    {# https://getbootstrap.com/docs/5.3/components/navs-tabs/#tabs #}
    <div class="border-b border-neutral-800 mb-6">
    <ul class="flex flex-wrap {{ overview is defined ? 'nav-tabs' }}">
    {% for overview in group.overviews %}
        {% set is_active = overview == loop.parent.overview|default(null) %}
        <li class="cursor-pointer transition-all duration-200 border-b-2 px-4 py-2 border-transparent hover:border-gray-600 text-gray-400 hover:text-gray-200  {{ is_active ? 'text-white' }}">
            <a class="flex items-center text-sm font-medium {{ is_active ? 'active' }}" {{ is_active ? 'aria-current="page"' }} href="{{ path('process_overview_show', {group: group.id, overview: overview.id}) }}">{{ overview.label }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
</div>
