<fieldset class="process-details">
    <legend>{{ 'Details for {process}'|trans({process: process.name}) }}</legend>

    {% set meta = process.meta|default(null) %}
    {% if meta %}
        <section class="meta">
            <header>
                <h3>{{ 'Metadata'|trans }}</h3>
            </header>

            {% set metadata_columns = [] %}

            <ul>
                {% for name, type in meta %}
                    <li>{{ name }} ({{ type }})</li>
                    {% set metadata_columns = metadata_columns|merge([{
label: 'The label for "%name%"'|replace({'%name%': name}),
data: 'meta.' ~ name,
}]) %}
                {% endfor %}
            </ul>

            <h4>{{ 'Example use in "{options}"'|trans({options: 'Options'|trans}) }}</h4>

            <pre><code>{{ {metadata_columns: metadata_columns}|yaml_encode(87) }}</code></pre>
        </section>
    {% endif %}

    {% if process.steps|default(null) %}
        <section class="steps">
            <header>
                <h3>{{ 'Steps'|trans }}</h3>
            </header>

            <ol>
                {% for step in process.steps %}
                    <li>{{ step.name }}</li>
                {% endfor %}
            </ol>
        </section>
    {% endif %}
</fieldset>
