{# Form overrides #}
{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block admin_form_alert_widget %}
    {% set content = ea_vars.field.customOptions.get('content') %}
    {% set type = ea_vars.field.customOptions.get('type')|default('info') %}
    {% if content %}
        <div class="alert alert-{{ type }}">
        {{ content|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block admin_form_action_widget %}
    {% set label = ea_vars.field.customOptions.get('content') %}
    {% set actionName = ea_vars.field.customOptions.get('action') %}
    {% set action = ea_crud_form.ea_entity.actions[actionName]|default(null) %}

    {% if action %}
        {% set _ = action.setLabel(label) %}
        {% set _ = action.setIcon(null) %}
        {{ include('@EasyAdmin/crud/action.html.twig', {action: action}) }}
    {% endif %}
{% endblock %}

{% block admin_form_message_widget %}
    {% set content = ea_vars.field.customOptions.get('content') %}
    {% if content %}
        {{ content|raw }}
    {% endif %}
{% endblock %}

{% block admin_form_template_view_widget %}
    {% set template_path = ea_vars.field.templatePath|default(null) %}
    {% set template_context = ea_vars.field.customOptions.get('template_context')|default([]) %}
    {{ include(template_path, template_context) }}
{% endblock %}
