{% extends 'base.html.twig' %}

{% block title %}{{ 'Process overview groups'|trans }}{% endblock %}

{% block content %}
    {# <h1>{{ 'Groups'|trans }}</h1> #}

    <ul>
        {% for group in groups %}
            {% if group.overviews %}
                {% set overviews = group.publicOverviews %}
                {% if overviews is not empty %}
                    <li>
                        <a class="nav-link"
                           href="{{ path('process_overview_group_show', {id: group.id}) }}">{{ group.label }}</a>
                        <ul>
                            {% for overview in overviews %}
                                <li class="ml-4">
                                    <a class="nav-link" href="{{ path('process_overview_show', {group: group.id, overview: overview.id}) }}">{{ overview.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
